{% for zone in dns['zones'] %}
{{ zone }}. {
  file /root/zones/{{ zone }}.zone {
    reload 10s
  }

  log {
    class all
  }

  cache {
    success 5000
    denial 3000
  }

  errors {
    consolidate 5m ".* i/o timeout$" warning
    consolidate 30s "^Failed to .+"
  }
}
{% endfor %}