{% for zone in dns['zones'] %}
{{ zone }}. {
  file /root/zones/{{ zone }}.zone {
    reload 10s
  }

  log . "HOST: {remote}:{port} - ID: {>id} - RECORD_TYPE: {type} - RECORD_NAME: {name} - PROTOCOL: {proto} - RESPONSE_CODE: {rcode} - FLAGS: {>rflags} - RESPONSE_SIZE: {rsize} - DURATION: {duration}" {
    class all
  }

  cache {
    success 5000
    denial 3000
  }

  errors {
    consolidate 5m ".* i/o timeout$" warning
    consolidate 30s "^Failed to .+"
  }
{% if optional_tasks.compose_file.containers.coredns.prometheus.enabled is true %}
  prometheus 0.0.0.0:9153
{% endif %}
}
{% endfor %}
