{% for zone in dns['zones'] %}
{{ zone }}. {
  file /root/zones/{{ zone }}.zone {
    reload 10s
  }

  log . "host: {remote}:{port} id: {>id} record_type: {type} record: {name} protocol: {proto} response_code: {rcode} size: {rsize} latency: {duration}" {
    class all
  }

  cache {
    success 5000
    denial 3000
  }

  errors {
    consolidate 5m ".* i/o timeout$" warning
    consolidate 30s "^Failed to .+"
  }
{% if optional_tasks.compose_file.containers.coredns.prometheus.enabled is true %}
  prometheus 0.0.0.0:9153
{% endif %}
}
{% endfor %}
