version: "{{ optional_tasks.compose_file.composeVersion }}"
services:
{% if optional_tasks.compose_file.containers.coredns.enabled is true %}
  coredns:
    image: docker.io/coredns/coredns:{{ optional_tasks.compose_file.containers.coredns.tag|default('latest') }}
    container_name: coredns
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/coredns/config:/root
      - /etc/localtime:/etc/localtime:ro
      - /etc/resolv.conf:/etc/resolv.conf:ro
    ports:
      - "53:53"
      - "53:53/udp"
{% if optional_tasks.compose_file.containers.coredns.prometheus.enabled is true %}
      - "0.0.0.0:9153:9153"
{% endif %}
    mem_limit: {{ optional_tasks.compose_file.containers.coredns.memoryLimit }}
    mem_reservation: {{ optional_tasks.compose_file.containers.coredns.memoryReservation }}
    restart: {{ optional_tasks.compose_file.restartPolicy }}
    environment:
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
    command:
    - "-conf"
    - "/root/Corefile"
{% if optional_tasks.compose_file.containers.coredns.prometheus.enabled is true and optional_tasks.compose_file.containers.coredns.datadog.enabled is true %}
    labels:
      com.datadoghq.ad.check_names: '["coredns"]'
      com.datadoghq.ad.init_configs: '[{}]'
      com.datadoghq.ad.instances: '[{"openmetrics_endpoint": "http://%%host%%:9153/metrics", "metrics": ["coredns_*"], "tags": ["dns-pod:%%host%%"]}]'
{% endif %}
{% if optional_tasks.compose_file.containers.coredns.datadog.enabled is true %}
      com.datadoghq.ad.logs: '[{"source": "coredns", "service": "coredns", "sourcecategory": "docker"}]'
{% endif %}
{% endif %}
