version: "{{ optional_tasks.compose_file.composeVersion }}"
services:
{% if optional_tasks.compose_file.containers.coredns.enabled is true %}
  radarr:
    image: docker.io/coredns/coredns
    container_name: coredns
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/coredns/config:/root
      - /etc/localtime:/etc/localtime:ro
      - /etc/resolv.conf:/etc/resolv.conf
    ports:
      - "53:53"
      - "53:53/udp"
{% if optional_tasks.compose_file.containers.coredns.healthcheck.enabled %}
      - "127.0.0.1:9099:9099"
{% endif %}
    mem_limit: {{ optional_tasks.compose_file.containers.coredns.memoryLimit }}
    mem_reservation: {{ optional_tasks.compose_file.containers.coredns.memoryReservation }}
    cpus: {{ optional_tasks.compose_file.containers.coredns.cpuLimit }}
    restart: {{ optional_tasks.compose_file.restartPolicy }}
    environment:
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
    command:
    - "-conf"
    - "/root/Corefile"
{% if optional_tasks.compose_file.containers.coredns.healthcheck.enabled %}
    healthcheck:
      test: curl --fail http://127.0.0.1:9099/health || exit 1
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s
{% endif %}
{% endif %}