version: "{{ optional_tasks.compose_file.composeVersion }}"
services:
{% if optional_tasks.compose_file.containers.coredns.enabled is true %}
  radarr:
    image: docker.io/coredns/coredns
    container_name: coredns
    volumes:
      - {{ homedir }}/{{ optional_tasks.compose_basedir }}/coredns/config:/root
      - /etc/localtime:/etc/localtime:ro
      - /etc/resolv.conf:/etc/resolv.conf
    ports:
      - "53:53"
      - "53:53/udp"
    mem_limit: {{ optional_tasks.compose_file.containers.coredns.memoryLimit }}
    restart: {{ optional_tasks.compose_file.restartPolicy }}
    environment:
      - TZ="{{ optional_tasks.compose_file.environment.TZ }}"
    command:
    - "-conf"
    - "/root/Corefile"
{% endif %}