$ORIGIN donthurt.us.
@       3600 IN SOA dns1.donthurt.us. dns2.donthurt.us. {{ ansible_date_time.epoch }} 7200 3600 1209600 3600
        3600 IN NS dns1.donthurt.us.
        3600 IN NS dns2.donthurt.us.

{% for entry in dns.zones.donthurt %}
{{ entry.name }} {{ entry.ttl }} IN {{ entry.type }} {% if entry.priority is defined %}{{ entry.priority }}{% endif %} {{ entry.record }}
{% endfor %}